@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	if ((int)Session["userID"] > 999)
	{
		Response.Redirect("~/Patient/Index");
	}
}

<h2>Doctor Index</h2>
<p>
	@*Html.ActionLink("Create patient", "CreatePatient")*@
	@Html.ActionLink("Create Visit", "Create", "Visit", new { id = Session["userID"] }, null)
</p>

<p>
	@Html.ActionLink("Edit profile", "EditDoctor", new { id = Session["userID"] })
</p>

<p>
	@Html.ActionLink("Discharge Patient", "Discharge")
</p>
<p>
	@Html.ActionLink("View Visit History", "Index", "Visit")
</p>


