
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	if ((int)Session["userID"] < 1000)
	{
		Response.Redirect("~/Doctor/Index");
	}
}

<h2>Hi patient</h2>
<p>
    @Html.ActionLink("Update profile", "EditPatient", new { id = Session["userID"] })
</p>
<p>
	@Html.ActionLink("View Visit History", "Index", "Visit", new { id = Session["userID"] }, null)
</p>
