@{
	ViewBag.Title = "Index";
}

	@{ if (Session["userId"] != null)
		{<button class="btn btn-default">
			@Html.ActionLink("Go to Index", "Index", "Doctor")
			</button>
		}
		else
		{
		<h4>
			Welcom to hospital management system!<br /><br />Please login!<br />
		</h4>
		}
	}

	<button class="btn btn-default">
		@Html.ActionLink("Login", "Login")
	</button>
